{% extends "rango/base.html" %}
{% load static %}
{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block body_block %}
    <style>
        .placeholders.test{test-align: left;}
    </style>
        {% if user.is_authenticated %}
        <div class="page-header">
        <h1>Pakho says... hello {{ user.username }} :)</h1>
        {% else %}
        <h1>Pakho says... hello world! :)</h1>
        {% endif %}
        <h1>Welcome to Pakho's World :)</h1>
        </div>
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> 
        <hr>

        <div class="panel panel-primary">
            <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
            </div>
        </div>

        <div class="row placeholders">
            <div class="col-xs-12 col-sm-2 placeholder">
            {% if categories %}
                <ul>
                    {% for category in categories %}
                    <li><a href="/rango/category/{{category.name}}/">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>

    <div class="panel panel-primary">
            <div class="panel-heading">
                    <h3 class="panel-title">Pages</h3>
            </div>
    </div> 
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-4 placeholder">
        {% if pages %}
            {% for page in pages %}
                <ul>
                    <li>
                    <a href="{% url 'goto' %}?page_id={{ page.id }}">{{ page.title }}</a>
                    {% if page.views > 1 %}
                        ({{ page.views }} views)
                        {% elif page.views == 1 %}
                        ({{ page.views }} view)
                    {% endif %}
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
        </div>
    </div>     

    <hr>
        <p> visits: {{ visits }}</p>
    <button onclick="alert('You clicked the button using JavaScript')">
        Click Me - I run JavaScript
    </button>
    <button id="about-btn"> Click Me - I'm Javascript on Speed</button>
    <div id="msg">Hello</div>
    <button id="test-btn"> fuck Me</button>
{% endblock %}

