{% extends "rango/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block body_block %}
        {% if user.is_authenticated %}
        <div class="page-header">
        <h1>Pakho says... hello {{ user.username }}!</h1>
        {% else %}
        <h1>Pakho says... hello world!</h1>
        {% endif %}
        <h1>Welcome to Pakho's World</h1>
        </div>
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> 
        <hr>

        <div class="panel panel-primary">
            <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-xs-12 col-sm-2 placeholder">
            {% if categories %}
                <ul>
                    {% for category in categories %}
                    <li><a href="/rango/category/{{category.name}}/">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
     </div> 

    <div class="panel panel-primary">
            <div class="panel-heading">
                    <h3 class="panel-title">Pages</h3>
            </div>
    </div> 
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-4 placeholder">
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>     


     <hr>
{#        <!-- <h5><a href="{ url 'add_category' }">add category</a></h5>            #}
{#            {% if contact %}#}
{#                <h1>Contact me:  {{contact}}</h1>#}
{#                <a href="{%url 'index'%}">Go back to Index</a>#}
{#            {% else %}#}
{#                <a href="{%url 'show_category'%}">Show category</a><br>#}
{#                <a href="{%url 'about'%}">contact me</a><br />                #}
{#                <a href="{%url 'restricted'%}">Restricted Page</a><br />#}
{#                <a href="{%url 'auth_logout'%}">Logout</a><br />#}
{#                #}
{#            {% endif%}#}
{#        {% else %}#}
{#        <h1>Pakho says... hello world!</h1>#}
{#        <a href="{%url 'auth_login'%}">Login</a>#}
{#        <a href="{%url 'registration_register'%}">Register</a><br/>        #}
{#        {% endif %} -->#}
{#        <!-- hello guys! <strong>{{ boldmessage }}</strong><br /> -->#}
        <p> visits: {{ visits }}</p>
{% endblock %}
